In [22]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv("combined_unique.csv", encoding='latin1')
print(df.shape)
print(df.head())
df.info()

C:\Users\Minal\AppData\Local\Temp\ipykernel_19180\4056450116.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("combined_unique.csv", encoding='latin1')

(1008898, 8)
  Invoice StockCode                          Description  Quantity  \
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434    79323P                   PINK CHERRY LIGHTS        12
2  489434    79323W                  WHITE CHERRY LIGHTS        12
3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24

           InvoiceDate  Price  Customer ID         Country
0  2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1  2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2  2009-12-01 07:45:00   6.75      13085.0  United Kingdom
3  2009-12-01 07:45:00   2.10      13085.0  United Kingdom
4  2009-12-01 07:45:00   1.25      13085.0  United Kingdom
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008898 entries, 0 to 1008897
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1008898 non-null  object
 1   StockCode    1008898 non-null  object
 2   Description  1008898 non-null  object
 3   Quantity     1008898 non-null  int64
 4   InvoiceDate  1008898 non-null  object
 5   Price        1008898 non-null  float64
 6   Customer ID  779495 non-null   float64
 7   Country      1008898 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 61.6+ MB

In [24]:
#convert InvoiceDate to datetime format
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='%d-%m-%Y %H:%M', errors='coerce')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008898 entries, 0 to 1008897
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1008898 non-null  object
 1   StockCode    1008898 non-null  object
 2   Description  1008898 non-null  object
 3   Quantity     1008898 non-null  int64
 4   InvoiceDate  0 non-null        datetime64[ns]
 5   Price        1008898 non-null  float64
 6   Customer ID  779495 non-null   float64
 7   Country      1008898 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 61.6+ MB

In [25]:
df['Country'].unique()

array(['United Kingdom', 'France', 'USA', 'Belgium', 'Australia', 'EIRE',
       'Germany', 'Portugal', 'Denmark', 'Netherlands', 'Poland',
       'Channel Islands', 'Spain', 'Cyprus', 'Greece', 'Norway',
       'Austria', 'Sweden', 'United Arab Emirates', 'Finland', 'Italy',
       'Switzerland', 'Japan', 'Unspecified', 'Nigeria', 'Malta',
       'Bahrain', 'RSA', 'Bermuda', 'Hong Kong', 'Singapore', 'Thailand',
       'Israel', 'Lithuania', 'West Indies', 'Lebanon', 'Korea', 'Brazil',
       'Canada', 'Iceland', 'Saudi Arabia', 'Czech Republic',
       'European Community'], dtype=object)

In [26]:
df['Country'].value_counts()

Country
United Kingdom          926996
EIRE                     17159
Germany                  16440
France                   13640
Netherlands               5090
Spain                     3663
Switzerland               3123
Belgium                   3056
Portugal                  2470
Australia                 1792
Channel Islands           1551
Italy                     1442
Sweden                    1336
Norway                    1290
Cyprus                    1136
Finland                   1032
Austria                    922
Denmark                    778
Unspecified                748
Greece                     657
Poland                     504
Japan                      468
United Arab Emirates       467
USA                        409
Israel                     366
Hong Kong                  354
Singapore                  339
Malta                      282
Canada                     228
Iceland                    222
RSA                        168
Lithuania                  154
Bahrain                    124
Brazil                      94
Thailand                    76
European Community          60
Lebanon                     57
West Indies                 54
Korea                       53
Bermuda                     34
Nigeria                     30
Czech Republic              25
Saudi Arabia                 9
Name: count, dtype: int64